<md-card class="event-card">
  <div class="panel-group">
  <md-card-title-group>
    <img width="100%" height="300px" md-card-lg-image
         src="https://static01.nyt.com/images/2009/07/07/nyregion/bikerace-480.jpg"/>
  </md-card-title-group>
  </div>
  <div class="panel-group">
  <table>
    <tr>
      <td class="event-date">
        <md-card-title-group>
          <md-card-title><span>APRIL</span></md-card-title>
          <md-card-subtitle><strong>25</strong></md-card-subtitle>
        </md-card-title-group>
      </td>
      <td class="space">
          <md-divider></md-divider>
      </td>
      <td class="event-title">
        <md-card-title-group>
          <md-card-title>Tour De France</md-card-title>
          <md-card-subtitle>Public : Hosted by <a>Event Owner</a></md-card-subtitle>
        </md-card-title-group>
      </td>

    </tr>
  </table>
  </div>
  <div class="button-row">
    <button md-raised-button >Join</button>
    <button md-raised-button >Edit</button>
 </div>
  <hr>
  <div class="panel-group">
    <md-card-title-group>
      <md-card-title>2 AM</md-card-title>
      <md-card-subtitle>Event is started</md-card-subtitle>
    </md-card-title-group>
  </div>
  <div class="panel-group">
    <md-card-title-group>
      <md-card-title>Fairfield, Iowa</md-card-title>
      <md-card-subtitle>25 Km distance</md-card-subtitle>
    </md-card-title-group>
    <md-card-content>
      <iframe width="100%" height="90%" src="//www.google.com/maps/embed/v1/place?q=Harrods,Brompton%20Rd,%20UK
      &zoom=17
      &key=AIzaSyAfMykjowoCVnljt7RfI2dNQs2StshJW_g">
      </iframe>

    </md-card-content>
  </div>
</md-card>
<md-card class="event-card" >
  <md-card-title-group>
  <md-card-title>20 People are participating</md-card-title>
  <md-card-subtitle>Please spread the word!</md-card-subtitle>
  </md-card-title-group>
</md-card>

<md-card class="event-card">
  <md-card-content>
    This event is organizes into motivate young bike riders, and help them find
    people who are interested in cycling crose cities and socialize.
  </md-card-content>
</md-card>
