<md-card class="event-card">
  <div style="float: right">
    <sebm-google-map [latitude]="lat" [longitude]="lng"
                     [zoom]="zoom">

      <sebm-google-map-marker
        *ngFor="let m of markers; let i = index"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [label]="m.label"
        (markerClick)="clickedMarker(m.label, i)"
        [markerDraggable]="m.draggable"
        (dragEnd)="markerDragEnd(m, $event, i)"
      ></sebm-google-map-marker>
    </sebm-google-map>
  </div>
  <md-card-title>Create Event</md-card-title>
  <form [formGroup] = "eventForm" (ngSubmit) = "onSubmit()">
  <md-input-container>
    <input mdInput placeholder="Event Name" type="text" id="eventName" name="eventName" #eventName formControlName="eventName" value="Winter Cycling">
    <small class="invalid" [hidden]="eventForm.controls['eventName'].valid || (eventForm.controls['eventName'].pristine && !submitted)">
     Required field
    </small>
  </md-input-container>
   <table class="table-location" cellspacing="0">
     <tr><td>Start Location</td></tr>
     <tr>
      <td><md-input-container class="example-full-width">
        <input mdInput placeholder="City" name="eventStartCity" formControlName="eventStartCity">
        <small class="invalid" [hidden]="eventForm.controls['eventStartCity'].valid || (eventForm.controls['eventStartCity'].pristine && !submitted)">
          Required field
        </small>
      </md-input-container></td>
      <td><md-input-container class="example-full-width">
        <input mdInput placeholder="State" name="eventStartState" formControlName="eventStartState">
        <small class="invalid" [hidden]="eventForm.controls['eventStartState'].valid || (eventForm.controls['eventStartState'].pristine && !submitted)">
          Required field
        </small>
      </md-input-container></td>
      <td><md-input-container class="example-full-width">
        <input type="number" mdInput #eventStartPostCode maxlength="5" placeholder="Postal Code" name="eventStartPostCode" formControlName="eventStartPostCode">
        <small class="invalid" [hidden]="eventForm.controls['eventStartPostCode'].valid || (eventForm.controls['eventStartPostCode'].pristine && !submitted)">
          Required field
        </small>
      </md-input-container></td>
    </tr>
     <tr>
       <td><md-input-container class="example-full-width">
         <input mdInput #eventLng type="text" placeholder="Longitude" formControlName="eventLng" value="{{lng}}">
       </md-input-container></td>
       <td><md-input-container class="example-full-width">
         <input mdInput #eventLat placeholder="Latitude" type="text" formControlName="eventLat" value="{{lat}}">
       </md-input-container></td>

     </tr>
   </table>

    <table class="table-location" cellspacing="0">
      <tr><td>End Location</td></tr>
      <tr>
        <td><md-input-container class="example-full-width">
          <input mdInput placeholder="City" name="eventEndCity" formControlName="eventEndCity">
          <small class="invalid" [hidden]="eventForm.controls['eventEndCity'].valid || (eventForm.controls['eventEndCity'].pristine && !submitted)">
            Required field
          </small>
        </md-input-container></td>
        <td><md-input-container class="example-full-width">
          <input mdInput placeholder="State" name="eventEndState" formControlName="eventEndState">
          <small class="invalid" [hidden]="eventForm.controls['eventEndState'].valid || (eventForm.controls['eventEndState'].pristine && !submitted)">
            Required field
          </small>
        </md-input-container></td>
        <td><md-input-container class="example-full-width">
          <input type="number" mdInput #eventEndPostCode maxlength="5" placeholder="Postal Code" name="eventEndPostCode" formControlName="eventEndPostCode">
          <small class="invalid" [hidden]="eventForm.controls['eventEndPostCode'].valid || (eventForm.controls['eventEndPostCode'].pristine && !submitted)">
            Required field
          </small>
        </md-input-container></td>
      </tr>
      <tr>
        <td><md-input-container class="example-full-width">
          <input mdInput #eventEndLng type="text" placeholder="Longitude" formControlName="eventEndLng" value="{{lng2}}">
        </md-input-container></td>
        <td><md-input-container class="example-full-width">
          <input mdInput #eventEndLat placeholder="Latitude" type="text" formControlName="eventEndLat" value="{{lat2}}">
        </md-input-container></td>

      </tr>
    </table>

    <md-input-container class="table-location">
      <input id="dateTime" type="datetime-local" mdInput placeholder="Start Date Time" name="eventStartDateTime" formControlName="eventStartDateTime">
      <small class="invalid" [hidden]="eventForm.controls['eventStartDateTime'].valid || (eventForm.controls['eventStartDateTime'].pristine && !submitted)">
        Required field
      </small>
    </md-input-container>
    <br>
    <!--<input mdInput placeholder="Event Description" id="eventDesc" name="eventDesc" formControlName="eventDesc">-->
    <label for="eventDesc">Event Description</label><br>
    <textarea class="text-area" id="eventDesc" name="eventDesc" formControlName="eventDesc"></textarea>
    <br>
    <button type="submit" [disabled]="!eventForm.valid" md-raised-button color="accent">Create Event</button>
  </form>
</md-card>
