<div class="col-md-3 col-sm-3 left" style="" *ngIf="auth.authenticated()">
  <div class="top">
    <input type="text" (onkeyup)="0" #search>
    <a href="javascript:;" class="search"></a>
  </div>
  <ul>
      <li *ngFor="let user of users" (click)="onUserClick(user)"
          class="person" [ngClass]="activeUserId == user._id ? 'active' : ''">
          <!--*ngIf="onSearch(user.firstName,  user.lastName,  search.value)"-->
        <img src="{{user.picture}}" alt="">
        <span class="name truncate">{{user.name}}</span>
        <span class="time">17:11</span>
        <div class="preview">{{userActions[user._id]}}</div>
      </li>
    </ul>
  </div>
  <div class="col-md-8 col-sm-8 right" *ngIf="auth.authenticated()" >
    <div class="top"><span>To: <span class="name">{{activeUserName}}</span></span></div>
    <div class="chat active-chat" >
      <div #scrollMe style="overflow-y: auto; max-height: 500px">
        <div class="conversation-start">
          <span>Today, 5:38 PM</span>
        </div>
        <div  *ngFor="let m of messages" class="bubble {{m.toId == this.activeUserId ? 'me' : 'you'}}">
          {{m.msg}}
        </div>
      </div>

    </div>
    <div class="write" *ngIf="activeUserId != undefined">
      <a href="javascript:;" class="write-link attach"></a>
      <input name="msg" type="text"  #newm (keydown)="newMessage = newm.value; onTyping()" [value]="newMessage" (keyup.enter)="onMessageSend(newm.value)">
      <a href="javascript:;" class="write-link smiley"></a>
      <span href="#" (click)="onMessageSend(newm.value)" class="write-link send"></span>
    </div>
  </div>

