<md-sidenav-container>
  <md-sidenav #sidenav mode="side"  opened="true" class="app-sidenav">
    <app-profile *ngIf="auth.authenticated()" ></app-profile>
  </md-sidenav>
  <md-toolbar color="accent" class="mat-accent">
    <button *ngIf="auth.authenticated()" class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    Meet and Ride Your Bicycle Together !
    <span class="app-toolbar-filler"></span>
    <button md-raised-button color="primary" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
  </md-toolbar>
  <div class="app-content">
    <md-card-header>
    </md-card-header>
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
