<md-card class="event-card">
  <md-card-title>Create Announcement</md-card-title>

  <form [formGroup] = "anForm" (ngSubmit) = "onSubmit()">
    <md-input-container>
      <input mdInput placeholder="Club Name" type="text" id="content" name="content" #content formControlName="content">
      <small class="invalid" [hidden]="anForm.controls['content'].valid || (anForm.controls['content'].pristine && !submitted)">
        Please insert announcement description.
      </small>
    </md-input-container>
    <br/>
    <button type="submit" md-raised-button color="accent" [disabled]="!anForm.valid">Create</button>
  </form>
</md-card>
