<md-card class="event-card" *ngIf="auth.authenticated()">
  <div class="panel-group">
  <md-card-title-group>
    <img width="100%" height="300px" md-card-lg-image
         src="https://static01.nyt.com/images/2009/07/07/nyregion/bikerace-480.jpg"/>
  </md-card-title-group>
  </div>
  <div class="panel-group">
  <table>
    <tr>
      <td class="event-date">
        <md-card-title-group>
          <md-card-title><span>{{event.eventStartDateTime}}</span></md-card-title>
          <md-card-subtitle><strong>{{event.eventStartDateTime}}</strong></md-card-subtitle>
        </md-card-title-group>
      </td>
      <td class="space">
          <md-divider></md-divider>
      </td>
      <td class="event-title">
        <md-card-title-group>
          <md-card-title>{{event.eventName}}</md-card-title>
          <md-card-subtitle>Public : Hosted by <a>{{event.eventOwnerId}}</a></md-card-subtitle>
        </md-card-title-group>
      </td>
    </tr>
  </table>
  </div>
  <div class="button-row">
    <button md-raised-button (click)="onJoinEvent()"  [disabled]="joined || isOwner">
      <label *ngIf="!joined">Join</label><label *ngIf="joined">joined</label>
    </button>

    <button md-raised-button [disabled]="started || !isOwner" >Start</button>
    <button md-raised-button [disabled]="!started || !isOwner">Stop</button>
 </div>
  <hr>
  <div class="panel-group">
    <md-card-title-group>
      <md-card-title>{{event.eventStartDateTime}}</md-card-title>
      <md-card-subtitle>Event Status : <b *ngIf="event.eventStatus">Started</b><b *ngIf="!event.eventStatus">Not Started</b></md-card-subtitle>
    </md-card-title-group>
  </div>
  <div class="panel-group">
    <md-card-title-group>
      <md-card-title>{{event.eventStartCity}}, {{event.eventStartState}} {{event.eventStartPostCode}}</md-card-title>
      <md-card-title>{{event.eventEndCity}}, {{event.eventEndState}} {{event.eventEndPostCode}}</md-card-title>
      <md-card-subtitle>25 Km distance</md-card-subtitle>
    </md-card-title-group>
    <md-card-content>

      <sebm-google-map [latitude]="lat" [longitude]="lng"
                       [zoom]="zoom">

        <sebm-google-map-marker
          *ngFor="let m of markers; let i = index"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [label]="m.label"
          [iconUrl] = "m.iconUrl"
          [markerDraggable]="m.draggable"
          (dragEnd)="markerDragEnd(m, $event, i)"
        ></sebm-google-map-marker>
      </sebm-google-map>
    </md-card-content>
  </div>
</md-card>
<md-card class="event-card" >
  <md-card-title-group>
    <md-card-title><h4>{{participants}} Participants</h4></md-card-title>
  <md-card-subtitle>Please spread the word!</md-card-subtitle>
  </md-card-title-group>
</md-card>

<md-card class="event-card">
  <md-card-content>
    {{event.eventDesc}}
  </md-card-content>
</md-card>

<!--<p>{{event.eventName}}</p>-->
