.event-card{
  width:50%;
  margin:10px;
}
.event-date{
  padding-right: 20px;
  padding-left:10px;
  border: 1px solid black;
  background-color: coral;
  color: white;
}

.event-title{
  padding-left: 10px;
}

.space{
  width: 20px;
}

.sebm-google-map-container {
  height: 500px;
  width: 100%;
}
