.events-card{
  width: 50%;
}

.events-header-image {
  background-image: url('../../../assets/biking.jpg');
  background-size: cover;
}

.events-main-image{
  background-image: url('../../../assets/biking.jpg');
  width:1000px;
}
