<div *ngIf="auth.authenticated()">
<p *ngFor="let event of events">
<md-card class="events-card">
  <md-card-header>
    <div md-card-avatar class="events-header-image"></div>
    <md-card-title><a href="events/{{event._id}}">{{event.eventName}}</a></md-card-title>
    <md-card-subtitle>Organized by : <a>{{event.eventOwnerId}}</a>, Starts at : <b>{{event.eventStartDateTime}}</b></md-card-subtitle>
  </md-card-header>
  <img md-card-image src="http://www.horshamcycling.co.uk/joomla15/images/stories/horsham/flypass.jpg">
  <md-card-content>
    <p>
    {{event.eventDesc}}
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>
</p>
</div>
