<md-card class="events-card">
  <md-card-header>
    <img md-card-avatar src={{profile.picture}}>
    <md-card-title><a href="">{{profile.name}}</a></md-card-title>
    <md-card-subtitle>{{profile.email}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <ul type="none">
      <a routerLink="/homepage"><md-icon style="margin-right:10px">home</md-icon>Home</a>
      <li><a routerLink="/events"><md-icon style="margin-right:10px">event</md-icon>Events</a></li>
      <!--<li><hr></li>-->
      <li><a routerLink="/club"><md-icon style="margin-right:10px">group</md-icon>Clubs</a></li>
      <!--<li><hr></li>-->
      <li><a color="primary" routerLink="/webchat"><md-icon style="margin-right:10px">chat</md-icon>Chat</a></li>
      <li><hr></li>
      <li><a color="primary" (click)="auth.logout()" *ngIf="auth.authenticated()"><md-icon>logout</md-icon>Log Out</a></li>
    </ul>
  </md-card-content>

</md-card>

